@if (currencyRates.length > 0) {
  <header>
    <div class="header-text">
      Курс валют на {{ currencyRates[0].exchangedate }}
    </div>

    <div> ${{ currencyRates[25].rate }} / €{{ currencyRates[32].rate }}</div>


  </header>

  <main>

    <div class="currency-container">

      <input type="number" placeholder="0" min="0" [(ngModel)]="value1" (ngModelChange)="calculateCurrency(true)">

      <select [(ngModel)]="currency1" (ngModelChange)="calculateCurrency(false)">
        @for (currency of currencyRates; track currency.txt; let index = $index) {
          <option value="{{index}}">{{ currency.txt }}</option>
        }
      </select>

    </div>

    <div class="currency-container">

      <input type="number" placeholder="0" min="0" [(ngModel)]="value2" (ngModelChange)="calculateCurrency(false)">

      <select [(ngModel)]="currency2" (ngModelChange)="calculateCurrency(true)">
        @for (currency of currencyRates; track currency.txt; let index = $index) {
          <option value="{{index}}">{{ currency.txt }}</option>
        }
      </select>

    </div>

  </main>

} @else {

  <div class="loading">
    Завантаження даних :)
  </div>

}

